@{
    ViewBag.Title = "Index";
}

<div class="container-fluid" id="ctnfluid">
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <h2><b>Meu Médico</b></h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>

        </div>
    </div>
</div>

<div class="container-fluid text-center" id="services">
    <h2><b>Benefícios</b></h2>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-off logosmall"></span>
            <h4><b>POWER</b></h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-heart logosmall"></span>
            <h4><b>LOVE</b></h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-lock logosmall"></span>
            <h4><b>JOB DONE</b></h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-leaf logosmall"></span>
            <h4><b>GREEN</b></h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-certificate logosmall"></span>
            <h4><b>CERTIFIED</b></h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-wrench logosmall"></span>
            <h4><b>HARD WORK</b></h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
    </div>
</div>

<div class="container-fluid text-center bg-grey" id="cadastros">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-3 col-md-8 col-md-offset-3 col-sm-8 col-sm-offset-3">
            <a href="~/Medicos/Index"> <img src="~/Imagens/testee.png" class="img-responsive img-circle teste1" alt="Procurar"></a>
            <p><b>Procurar Médico</b></p>
        </div>
    </div>
</div>


